/* Everthing */
body {
  margin: 0px;
}
#container {
  margin: auto;
  background-color: blue;
  overflow: hidden;
}
nav {
  width: 100%;
  background-color: rgba(112, 74, 240, 0.81);
}
section {
  float: right; 
  background-color: blue;   
}
aside {
  float: left; 
  background-color: blue;  
}
nav a:link {
  font-family: arial;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 10px;
  line-height: 30px;
}
nav a:visited {
  color: #555;
}
nav a:hover {
  color: #369;
  cursor: default;
}
nav a:active {
  color: #f00;
}
.triad3{
  width: 200px;
  float: left;
  height: 200px;
  background-color: #2a30ff;
  color: #fff;
  margin:6px;
  padding:5px;
  }
  